<link rel="stylesheet" href="~/Views/Home/css/posts-table.css" />
<link rel="stylesheet" href="~/Views/Posts/css/post.css" />
@model IDataResult<List<Posts>>

<div class="container">

    <div class="content">

        <div class="table-responsive mx-4 mt-5">

            <h2 class="mb-5 mt-4 text-light">#Tüm Gönderiler</h2>

            <div class="table-responsive">

                <table class="table table-striped custom-table">

                    <thead>

                        <tr>

                            <th scope="col">Tarih</th>
                            <th scope="col">Şehir</th>
                            <th scope="col">Plaka</th>
                            <th scope="col">Puan</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col"></th>

                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model.Data)
                        {
                            <tr scope="row">


                                <td>@item.Post_CreatedDate.ToShortDateString()</td>

                                <td>@item.City.City_Name</td>

                                <td>@item.Post_Plate</td>

                                <td>
                                    @for (int i = 0; i < item.Post_Stars; i++)
                                    {
                                        <i id="star" class="fas fa-star more-star"></i>
                                    }
                                </td>

                                <td>
                                    @item.Post_Title
                                    <small class="d-block">@item.Post_Description.Substring(0,/*item.Post_Description.Substring(0,6).LastIndexOf(" ")*/16)...</small>
                                </td>

                                <td>
                                    <a href="/Posts/PostsDetails?postId=@item.Post_Id" class="more">İncele</a>
                                </td>

                            </tr>

                        }
                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div class="demo">
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="@Model.TotalItemsCount">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    @*<a href="#" class="rainbow-button" alt="Button"></a>*@


</div>

@*<script>

    var btnContainer = document.getElementById("paginations-btn");

    var btns = btnContainer.getElementsByClassName("pg-a");

    console.log(btns.length);
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("is-active");
        current[0].className = current[0].className.replace(" is-active", "");
        this.className += " is-active";
      });
    }

</script>*@